
@mixin flex-default {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin width {
    width: calc(100% - 15%);
}



*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style: none;
}

body{
    min-width: rem(780px);
}

.header{
    width: 100%;
}
.header__top{
    width: 100%;
}
.header__top-box{
    @include width;
    @include flex-default;
    height: rem(100px);
    margin: 0 auto;
}
.top-box__logo-link{
    width: rem(160px);
    height: rem(50px);
    padding-top:$spacing-3xs;
    text-align: center;
    background: $link;
    color:$text-04;
    &:hover{
        color:$text-04;
    }
}
.service__menu{
    @include flex-default;
}
.service__menu-link{
    color:$text-03;
    &:hover{
        color:$text-03;
    }
}
.service__menu-boundary{
    padding: 0 $spacing-md;
}


.gnb{
    width: 100%;
    background-color: $primary;
}
.gnb__box{
    @include width;
    @include flex-default;
    height: rem(65px);
    margin: 0 auto;
    padding: 0 $spacing-3xl;
}
.gnb__box-list{
    position: relative;
    &:hover::before{
        content: "";
        position: absolute;
        width: 100%;
        height: rem(3px);
        bottom: 0;
        background-color: $text-04;
    }
}
.gnb__box-link{
    @include font-size("15");
    padding: $spacing-md;
    color:$text-04;
    &:hover{
        color:$text-04;
    }
}
.header__lnb-box{
    display: none;
}

.header__breadcrumb{
    width: 100%;
    height: rem(60px);
    padding: $spacing-md 0;
    border-bottom: 1px solid $field-border;
}
.header__breadcrumb-box{
    @include width;
    margin: 0 auto;

}

.header__breadcrumb-text{
    @include font-size("15");
}
.header__breadcrumb-home{
    width: rem(15px);
    height: rem(15px);
    margin-right: $spacing-2xs;
    fill:$icon-01;
}


////section

.section{
    margin: $layout-lg;
}

.section__container{
    @include width;
    display: grid;
    margin: 0 auto;
    column-gap: 32px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px 1fr;
}
.section__container-lnb{
    grid-column-start: 1;
    grid-column-end: 2;
}
.section__container-contents{
    grid-column-start: 2;
    grid-column-end: 5;
}// 그리드 나누기

.section__container-lnb-title{
    @include font-size("20");
    @include font-weight('bold');
    padding-bottom: $spacing-lg;
    border-bottom: 2px solid $text-01;
    color:$text-01;
}
.section__container-lnb-list1,.section__container-lnb-list2{
    margin-top: $spacing-md;
}

.section__container-lnb-link1,.section__container-lnb-link2{
    @include font-size("14");
    width: 100%;
    height: rem(50px);
    padding:$spacing-md 0 $spacing-md $spacing-md;
}
.section__container-lnb-link1{
    background: $primary;
    color:$text-04;
    &:hover{
        color:$text-04;
    }
}
.section__container-lnb-link2{
    color:$text-01;
    &:hover{
        color:$text-01;
    }
}
.section__container-lnb-boundary{
    display: none;
}


.section__container-contents-title{
    @include font-size("20");
    @include font-weight('bold');
    margin-bottom:$spacing-lg;
    color:$text-01;
}
.section__container-contents-explain{
    margin-bottom: $spacing-xl; 
    color:$text-02;  
}
.section__container-contents-box{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $ui-04;
    text-align: center;
}
.section__contents-box-text{
    @include font-size("15");
    @include font-weight('bold');
    position: absolute;
    top: 50%;
    color:$text-01;
}

////footer

.footer{
    margin-top: $layout-2xl;
    background-color: $ui-04;
}
.footer__box-top{
    width: 100%;
    background: $ui-03;
}
.fnb{
    @include width;
    display: flex;
    height: rem(60px);
    margin: 0 auto;
    align-items: center; 
}
.fnb__link{
    @include font-weight('bold');
    height: rem(60px);
    padding:$spacing-md $spacing-xl 0 0;
    color:$text-01;
    &:hover{
        color:$text-01;
        text-decoration: underline;
    }
}
.fnb__privacy-link{
    @include font-weight('bold');
    height: rem(60px);
    padding:$spacing-md $spacing-xl 0 0;
    color:$support-01;
    &:hover{
        color:$support-01;
    }
}
.footer__box-bottom{
    @include width;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: $spacing-lg 0;
}

.footer__logo-link{
    width: rem(160px);
    height: rem(48px);
    padding-top: $spacing-xs;
    text-align: center;
    background: $field-bg;
    color:$link;
    &:hover{
        color:$link;
    }
}
.footer__info{
    display: flex;
    flex-direction: column;
    margin-left: $spacing-3xl;
    color:$text-01;
}
.footer__info-address,.footer__info-copyright{
    @include font-weight('regular');

}
.footer__info-address{
    margin-bottom: $spacing-xs;
}


@include respond-to('tablet'){

    body{
        min-width: 0;
    }
    .header__top{
        display: none;
    }
    .gnb{
        height: rem(60px);
    }
    .gnb__box{
        display: none;
    }
    .header__lnb-box{
        @include flex-default;
        padding: $spacing-sm $spacing-lg;
    }
    .header__lnb-text{
        @include font-size("15");
        color:$text-04;
    }
    .header__lnb-button{
        background:none;
        border:none;
        cursor: pointer;
    }
    .header__lnb-menu-icon,.header__lnb-home-icon{
        fill:$text-04;
    }
    .header__breadcrumb{
        display: none;
    }
    .section{
        margin:0;
    }
    .section__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .section__container-lnb-menu{
       display: flex;
       align-items: center;
       border-bottom: 1px solid $field-border;
    }
    .section__container-contents{
        height: rem(500px);
        padding: $layout-2xs;
    }
    .section__container-lnb-title{
        display: none;
    }
    .section__container-lnb-list1,.section__container-lnb-list2{
        margin-top: 0;
    } 
    .section__container-lnb-link1,.section__container-lnb-link2{
        @include font-weight('bold');
        padding:$spacing-md $spacing-md;
    }
    .section__container-lnb-link1{
        color:$default-focus;
        background: none;
        &:hover{
            color:$default-focus;
        }
    }
    .section__container-lnb-boundary{
        display: block;
        color:$field-border;
    }
    .section__container-contents-title{
        @include font-size("25");
        @include font-weight('bold');
        margin-bottom: $spacing-md;
    }
    .section__container-contents-explain{
        margin-bottom: $spacing-2xl;  
    }
    .section__container-contents-box{
        width: 100%;
        height:70%;
    }
    .footer{
        margin-top: 0;
    }
    .footer__box-bottom{
        width: 100%;
        flex-direction: column-reverse; 
        padding: $spacing-lg 0;
        
    }
    .footer__info{
        margin-left: 0px;
        padding: 0 $spacing-2xs;
        text-align: center;
    }
    .footer__logo-link{
        width: rem(150px);
        height: rem(40px);
        padding-top:$spacing-2xs;
        margin-top: $spacing-lg;
    }
    .fnb{
        width: 100%; 
        height:100%;
        margin: 0 auto;
        justify-content:space-around;
    }
    .fnb__list{
        &:nth-child(4){
            display: none;
        }
    }
    .fnb__link{
        height: rem(60px);
        padding:$spacing-md 0 0 0;
    }
}  /////미디어 쿼리