


* {
    margin: 0;
    padding: 0;
}

.modal-body {
    min-width: rem(1080px);
    background-color: $ui-01;
}

.top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $spacing-md;
    background:$primary;
}    
.gnb{
    display: flex;
    align-items: center;
    height:rem(46px);
    padding: 0;
}            
             
.gnb__logo-link{
    @include font-size("16");
    display: inline-block;
    height: rem(46px);
    padding:$spacing-xs 0 0 0;  
    color:$ui-02;
    text-decoration:none;
    &:hover{
        color:$text-04;
    }
}
.gnb__logo-sub{
    @include font-size("15");
    @include font-weight("regular");
    padding-right: $spacing-3xl;
    border-right:1px solid $secondary;
    color: $text-04;
}
            
 .gnb__menu{
    display:flex;
    align-items: center;
    padding: 0;
 }
.gnb__menu-list{
    &:nth-child(1){
        padding-left: 0px;
    }
}
                 
.gnb__menu-link{
    display: inline-block;
    width: rem(100px);
    height: rem(46px);
    padding-top: $spacing-sm;
    text-decoration:none; 
    text-align: center;
    color:$text-04;
    &:hover{
        color:$text-04;
    }
}                     
.top__toolbar-items{
    display:flex;
    align-items: center;
}
.top__toolbar-button{
    height: rem(46px);
    padding: 0 $spacing-lg;
    background-color: $primary;
    border:none;
    cursor: pointer;
}

.top__toolbar-move{
    display: flex;
    align-items: center;
    background-color: $secondary;
}

.top__toolbar-move-button{
    height: rem(46px);
    padding: 0 $spacing-xs;
    background-color: $secondary;
    border:none;
    cursor: pointer;
} 

.top__toolbar-global,.top__toolbar-switcher{
    @include font-size("14");
    display:flex;
    align-items: center;
    color:$text-04;
}
.top__toolbar-global{
    width:rem(140px);
    padding:0;
}
.top-toolbar-items__global-text{
    margin-left: $spacing-xs;
}
 
.top__toolbar-switcher-text{
    margin:0;
    color:$text-04;                 
}
 .top__toolbar--switcher-button{
    @include font-size("15");
    display: flex;
    align-items: center;
    height: rem(46px);
    padding-left:$spacing-xs;
    background-color: $primary;
    border:none;
    cursor: pointer;
 }
.top__toolbar-switcher-text{
    margin-right: $spacing-xs;
}
 



.container {
    width: 100%;
}
.container__blank-white {
    width: 100%;
    height: rem(56px);
    background-color: $ui-02;
}
.container-top{
    padding-bottom: $spacing-lg;
    text-align: center;
    background-color: $ui-01;
}
.container__checkbox {
    padding: $spacing-lg 0;
}
.container-section {
    display: flex;
    position: relative;
    justify-content:space-between;
    align-items: center;
    width: calc(100% - 48px);
    height: rem(1000px);
    margin: 0 auto;
    padding-top: $layout-lg;
    background-color: $disabled-01;
}

.section__context-menu {
    padding:$spacing-xs 0;
    margin-left:$layout-xs;
}
.context-menu__list{
    width: rem(250px);
    box-shadow:$box-shadow-raised;
}

.context-menu__toggle-box {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: $spacing-2xs;
}
.context-menu__toggle{
    width: rem(40px);
    height: rem(20px);
    padding: $spacing-3xs;
    margin-right: $spacing-2xs;
}


/////모달창1
.section__export-modal {
    position: absolute;
    top: 15%;
    left: 21%;
}
.export-modal{
    width: rem(620px);
}
.export-modal__body{
    padding: 0 $spacing-xl;
}
.export-modal__toggle-box{
    height: rem(62px);
    padding: $spacing-xl 0 0;
}
.export-modal__toggle {
    display: flex;
    justify-content: end;
    padding-bottom: $spacing-xs;
}
.toggle-text {
    margin-right: $spacing-3xs;
}
    

.export-modal__link-container{
    background-color: $ui-01;
    padding: 0 $spacing-md;
}
.export-modal__link-box{
    text-align: left;
    border-bottom: 1px solid $ui-04;
    &:last-child {
        border-bottom: none;
    }
}
.link-box__title {
    @include font-weight("regular");
    @include font-size("16");
    display: block;
    margin: $spacing-sm 0;
}

.link-box__content,
.link-box__content--cyan {
    margin-bottom: $spacing-sm;
}
.link-box__badge{
    display: inline-block;
}
.link-box__content--cyan {
    display: flex;
}
.link-box__badge--cyan{
    display: inline-block;
}
.badge-link,.badge--cyan-link{
    color: $text-01;
    &:hover{
        color: $text-01;
        text-decoration: underline;
    }
}  
.badge--cyan-link {
    word-break: break-all;

}

.export-modal__help-container{
    height: rem(68px);
    padding: 0;
}
.export-modal__help-box{
    display: flex;
    justify-content: space-between;
    padding-top: $spacing-xs;
}
.export-modal__help-icon{
    fill: $icon-01;
}
.export-modal__help-text{
    color: $text-03;
}
.export-modal__foot{
    justify-content: end;
}
    

/////작은모달

.section__export-modal--sm {
    position: absolute;
    top: 15%;
    left: 57%;
}


